<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Deparment</title>
</head>
<body>
<table border="1px">
    <tr>
        <th>Department</th>
        <th>Employee Count</th>
        <th>Salary</th>
    </tr>
    <tr th:each="department : ${departments}">
        <td th:text="${department.getDepartments()}"></td>
        <td th:text="${department.getEmployeeCount()}"></td>
        <td th:text="${department.getSalary()}"></td>
    </tr>
</table>
</body>
</html>